@import "../../styles/common/colors";

.technologies__wrapper {
  margin-bottom: 30px;

  .technologies__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  i {
    &:hover {
      color: $link-color;
      cursor: pointer;
    }
  }
}
