@import "../../styles/common/colors";
@import "../../styles/common/responsive";

.technologies__wrapper {
  margin-bottom: 30px;

  .technologies__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .technologies__icon {
    &:hover {
      color: $link-color;
      cursor: pointer;
    }
  }
}

@include screen-below($sm) {
  .technologies__wrapper {
    .technologies__container {
      flex-wrap: wrap;
    }

    .technologies__icon {
      flex: 1 0 21%;
      padding-bottom: 20px;
    }
  }
}
