@import "../../styles/common/responsive";

.project-section__wrapper {
  width: 600px;
  margin-bottom: 60px;

  .title__wrapper {
    text-align: center;
  }

  .project-section__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@include screen-below($sm) {
  .project-section__wrapper {
    width: 80%;
    margin: 0 auto 30px;
  }
}
