@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500,600,700&display=swap");
@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");
@import "../../styles/common/colors";
@import "../../styles/common/bootstrap";

.layout__wrapper {
  .layout__container {
    height: 100%;
    width: 100vw;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
  }
}

body {
  font-family: "Hind Siliguri", sans-serif !important;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: $background-color;
}
