@import "../../styles/common/colors";

.about-me-content__wrapper {
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: flex-start;

  a {
    color: $hover-color;
    text-decoration: none;

    &:hover, &:focus {
      color: $white;
    }
  }

  .about-me-content__container {
    width: 60%;
    padding-left: 30px;
    text-align: left;
  }

  .about-me-content__highlights {
    font-size: 20px;
    line-height: 32px;
  }

  .thoughtworks__design {
    font-family: "Open Sans", sans-serif;
  }

  .about-me-content-content__profile-image {
    width: 300px;
  }
}
