@import "../../styles/common/colors";
@import "../../styles/common/responsive";

.about-me-content__wrapper {
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: flex-start;

  a {
    color: $hover-color;
    text-decoration: none;

    &:hover, &:focus {
      color: $white;
    }
  }

  .about-me-content__container {
    width: 60%;
    padding-left: 30px;
    text-align: left;
  }

  .about-me-content__highlights {
    font-size: 20px;
    line-height: 32px;
  }

  .thoughtworks__design {
    font-family: "Open Sans", sans-serif;
  }

  .about-me-content-content__profile-image {
    width: 300px;
  }
}

@include screen-below($lg) {
  .about-me-content__wrapper {
    justify-content: center;
    flex-direction: column;

    .about-me-content-content__profile-image {
      width: 100%;
    }

    .about-me-content__container {
      width: 100%;
      padding-left: 0;
      padding-top: 20px;
    }
  }
}
